<ion-view view-title="Profile">
  <div class="bar bar-header bar-danger">
    <button class="button button-icon"><i class="icon-person-add"></i></button>
    <h1 class="title">Me</h1>
    <button class="button button-icon"><i class="icon-gear-b"></i></button>
  </div>
  <ion-content has-header="true">
    <div id="profile-bg"></div>
    <div id="content">
      <div id="profile-info">
        <img id="profile-image" src="https://graph.facebook.com/{{user.id}}/picture?width=300&height=300">
        <h3 id="profile-name">{{user.name}}</h3>
      </div>
    </div>
    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        {{user.email}}
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-telephone"></i>
        {{user.phone}}
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-facebook"></i>
        {{user.facebook}}
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-instagram"></i>
        {{user.instagram}}
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-mic"></i>
        {{user.reverbnation}}
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-twitter"></i>
        {{user.twitter}}
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-snapchat"></i>
        {{user.snapchat}}
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-linkedin"></i>
        {{user.linkedin}}
      </a>

<!--       <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Friends
        <span class="badge badge-assertive">0</span>
      </a> -->

    </div>
<!--     <div>
      <button class="button button-full button-positive" ng-click='editProfile(user)'>
        Edit Profile
      </button>
    </div> -->
  </ion-content>
</ion-view>