<ion-view view-title="Profile">
  <div class="bar bar-header bar-danger">
    <button class="button button-icon"><i class="icon-person-add"></i></button>
    <h1 class="title">Me</h1>
    <button class="button button-icon"><i class="icon-gear-b"></i></button>
  </div>
  <ion-content has-header="true">
    <div id="profile-bg"></div>
    <div id="content">
      <div id="profile-info">
        <img id="profile-image" src="https://graph.facebook.com/{{user.uid}}/picture?width=300&height=300">
        <h3 id="profile-name">{{user.name}}</h3>
      </div>
    </div>
    <div class="center">

      <a href="#">
        <i class="icon ion-email padding large"></i>
      </a>

      <a class="ion-ios7-telephone" ng-href="tel: {{user.phone}}">
        <i class="icon ion-ios-telephone padding large"></i>
      </a>

      <a href="{{user.facebook}}" target="_blank">
        <i class="icon ion-social-facebook padding large"></i>
      </a>

      <a href="https://www.instagram.com/{{user.instagram}}" target="_blank">
        <i class="icon ion-social-instagram padding large" ></i>
      </a>

      <a href="https://www.reverbnation.com/{{user.instagram}}" target="_blank">
        <i class="icon ion-ios-mic padding large"></i>
      </a>

      <a href="http://www.twitter.com/{{user.twitter}}" target="_blank">
        <i class="icon ion-social-twitter padding large"></i>
      </a>

      <a href="http://www.linkedin.com/in/{{user.linkedin}}" target="_blank">
        <i class="icon ion-social-linkedin padding large"></i>
      </a>

    </div>

<!--       <a class="item item-icon-left" href="#">
        <i class="icon ion-person-stalker"></i>
        Friends
        <span class="badge badge-assertive">0</span>
      </a> -->
      <div class="item center">
        <button class="button button-small button-dark" ng-click='editProfile(user)'>
          Edit Profile
        </button>
      </div>
      <div class="item center">
        <button class="button button-small button-assertive" ng-click="fbLogout(user)">
        Logout
        </button>
      </div>
  </ion-content>
</ion-view>