<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Edit Profile</h1>
      <button class="button" ng-click="modal.hide()">Close</button>
    </ion-header-bar>
  <ion-content>
    <form name="profileForm" ng-controller="EditProfileCtrl">
      <div class="list card">
        <div class="item bar bar-header bar-danger">
          <img id="profile-image" src="https://graph.facebook.com/{{user.uid}}/picture?width=300&height=300">
          <h1 class="title">{{user.name}}</h1>
        </div>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Name</span>
            <input type="text" value='name' ng-model="name.text" placeholder="John Smith" required>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input name="input" value='email' ng-model="email.text" placeholder="johnsmith@example.com" required>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Phone</span>
            <input type="tel" placeholder="(555)555-5555">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Facebook</span>
            <input type="text" placeholder="https://facebook.com/johnsmith">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Instagram</span>
            <input type="text" placeholder="https://instagram.com/johnsmith">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">ReverbNation</span>
            <input type="text" placeholder="https://reverbnation.com/johnsmith">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Twitter</span>
            <input type="text" placeholder="https://twitter.com/johnsmith">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">LinkedIn</span>
            <input type="text" placeholder="https://facebook.com/http://www.linkedin.com/in/johnsmith">
          </label>
        </div>
        <div class="item center">
          <button class="button button-small button-positive" ng-click="profileChanges()">
          Save Changes
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>