<ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Edit Profile</h1>
      <button class="button" ng-click="modal.hide()">Close</button>
    </ion-header-bar>
  <ion-content>
    <form name="profileForm" ng-controller="EditProfileCtrl">
      <div class="list card">
        <div class="item bar bar-header bar-danger">
          <img id="profile-image" src="https://graph.facebook.com/{{user.uid}}/picture?width=300&height=300">
          <h1 class="title">{{user.name}}</h1>
        </div>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Name</span>
            <input type="text" ng-model="user.name" placeholder="{{user.name}}">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" ng-model="user.email" placeholder="{{user.email}}">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Phone</span>
            <input type="tel" ng-model="user.phone" placeholder="{{user.phone}}">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Instagram</span>
            <input type="text" ng-model="user.instagram" placeholder="https://instagram.com/{{user.instagram}}">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">ReverbNation</span>
            <input type="text" ng-model="user.reverbnation" placeholder="https://reverbnation.com/{{user.reverbnation}}">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Twitter</span>
            <input type="text" ng-model="user.twitter" placeholder="https://twitter.com/{{user.twitter}}">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">LinkedIn</span>
            <input type="text" class="col" ng-model="user.linkedin" placeholder="http://www.linkedin.com/in/{{user.linkedin}}">
          </label>
        </div>
        <div class="item center">
          <button class="button button-small button-positive" ng-click="profileChanges(value)">
          Save Changes
          </button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>